*{
	padding: 0;
	margin: 0;
	font-family: cursive
}

div#fondo {
	height: 100% !important;
	background-image: url(../fotos/fondo.jpg);
	background-attachment: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
}

header {
	position: fixed;
	width: 150px;	
}

nav {
	position: fixed;
	float: right;
	display: table;
	margin: auto;
	margin-top: 37%;
	margin-left: 25px;
}

ul#list{
	list-style: none;
}

ul a {
	color: #B9B9B9;
	text-decoration: none;
}

div#body {
	background-image: url(../fotos/fondo2.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

img#logo {
	float: left;
	margin-left: 150%;
	border-radius: 50%;
	max-height: 500px;
	max-width: 500px;
	-webkit-transition: max-width .4s, max-height .4s, margin-top .4s, margin-left .4s;
}

section.secciones{
	color: rgb(246, 246, 246);
	border-style: groove;
	border-color: #CC6600;
	border-radius: 10%;
	margin-left: 200px;
	margin-right: 200px;
	padding: 50px;
	background-color: rgba(40, 44, 44, 0.8);
}

h1{
	text-align: center;
}

section.secciones#QuienSoy{
	float: right;
	width: 450px;
	border: none;
	background-color: rgba(0,0,0,0);
	color: rgba(246, 246, 246, 1);
}
nav{
	
}